*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background: #8c52ff;
}

#time {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background: #fff;
    width: 40%;
    min-width: 500px;
    position: absolute;
    transform: translate(-50% , -50%);
    top: 50%;
    left: 50%;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.338);
}

.timer-display {
    margin: 15px;
    position: relative;
    width: 92%;
    background: #fff;
    left: 4%;
    font-family: 'Roboto Mono' , monospace;
    color: #8c52ff;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(65, 5, 145, 0.25);
}

.buttons {
    width: 90%;
    margin: 60px auto 0 auto;
    display: flex;
    justify-content: space-around;
}

.buttons button {
    width: 120px;
    height: 45px;
    background: #8c52ff;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px ;
    cursor: grab;
    /* outline: none; */
}

#pause-timer {
    background: #e35209;
}

#reset-timer {
    background: #f7df1e;
}

.buttons button:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}